.container {
    margin-top: 20px;
    /* Ajusta el valor según sea necesario */
}

.modal-body {
    padding-bottom: 20px;
    /* Ajusta el valor según sea necesario */
}

.modal {
    margin-bottom: 20px;
    /* Ajusta el valor según sea necesario */
}