
@import url("https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&amp;display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  background-color: #7219c6;
  color: #FFE0FD;
}

a {
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.d-table {
  width: 100%;
  height: 100%;
}

.d-table-cell {
  vertical-align: middle;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #FFE0FD;
}

.card h5{
  color: #7219c6;
  font-size: 0px;
}

.card{
  background-color: #FFE0FD;
  height: 570px;
}
.card-text{
  height: 200px;
}
.btn-primary p{
  font-size: 0%;
}
svg {
  overflow: hidden;
  vertical-align: middle;
  color: #FFE0FD;
}

img {
  max-width: 100%;
  border-radius: 5%;
}

p {
  margin-bottom: 15px;
  line-height: 1.7;
  color: #7219c6;
  font-size: 16px;
}

p:last-child {
  margin-bottom: 0;
}

.bg-main-color {
  background-color: #ffde29;
}

.bg-black-color {
  background-color: #000000;
}

.bg-gray-light {
  background-color: #FFE0FD;
}

.bg-gray-black {
  background-color: #011f34;
}

.bg-pink-color {
  background-color: #ff1493;
}

.bg-dark-color {
  padding-top: 70px;
  background-color: #7219c6;
}

.bg-gray-dark {
  background-color: #7219c6;
}

.bg-f6f7fd {
  background-color: #f6f7fd;
}

.ptb-120 {
  padding-top: 120px;
  padding-bottom: 120px;
}

/*section-title*/
.section-title {
  text-align: center;
  position: relative;
  z-index: 1;
  padding-bottom: 105px;
  margin-bottom: 30px;
  margin-top: -9px;
}

.section-title h2  {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 38px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

.section-title .back-text {
  position: absolute;
  top: -80px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: -1;
  color: #000000;
  opacity: .04;
  text-transform: uppercase;
  font-size: 146px;
  font-weight: 900;
}

.section-title::before {
  content: '';
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 1px;
  height: 50px;
  background: #000000;
  position: absolute;
}

.section-title.white-color h2 {
  color: #FFE0FD;
}

.section-title.white-color .back-text {
  opacity: .06;
  color: #FFE0FD;
}

.section-title.white-color::before {
  background: #7219c6;
}

/*btn-primary*/
.btn {
  border: none;
  padding: 11px 32px;
  line-height: initial;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: 700;
  font-size: 18px;
}

.btn.disabled, .btn:disabled {
  opacity: 1;
}

.btn-primary {
  color: #FFE0FD;
  background-color: #7219c6;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #7219c6;
  color: #000000;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.btn-primary:hover, .btn-primary:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #7219c6;
  color: #FFE0FD;
}

/*form-control */
.form-control {
  height: 35px;
  padding: 0 0 15px;
  font-size: 15px;
  line-height: initial;
  color: #FFE0FD;
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #FFE0FD;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form-control::-webkit-input-placeholder {
  color: #FFE0FD;
}

.form-control:-ms-input-placeholder {
  color: #FFE0FD;
}

.form-control::-ms-input-placeholder {
  color: #FFE0FD;
}

.form-control::placeholder {
  color: #FFE0FD;
}

.form-control:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  background-color: transparent;
  color: #000000;
  border-color: #000000;
}

/*================================================
Preloader Area CSS
=================================================*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  z-index: 999999;
  text-align: center;
}

.preloader .spinner {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 46%;
  -webkit-transform: translateY(-46%);
          transform: translateY(-46%);
}

.preloader .spinner .double-bounce1, .preloader .spinner .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
          animation: sk-bounce 2.0s infinite ease-in-out;
}

.preloader .spinner .double-bounce2 {
  -webkit-animation-delay: -1.0s;
          animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/*================================================
Navbar Area CSS
=================================================*/

.bg-light {
  background-color: #ffde29 !important;
}

.logo{
  max-width: 60px;
}


.bg-light.bg-gray-light {
  background-color: #f4feff !important;
}

.bg-light.bg-dark-color {
  background-color: #7219c6 !important;
}

.bg-light.bg-dark-color {
  background-color: #7219c6 !important;
}

.bg-light.transparent-navbar {
  background-color: transparent !important;
}

.navbar {
  position: fixed; top: 0px;
}

.navbar.is-sticky {
  position: fixed;
  
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  -webkit-box-shadow: 0 2px 28px 0 #ffffff(0, 0, 0, 0.06);
          box-shadow: 0 2px 28px 0 #ffffff(0, 0, 0, 0.06);
  background-color: #7219c6 !important;
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
          animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar.navbar-style-two {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 9999;
  padding-top: 20px;
}

.navbar.navbar-style-two.is-sticky{
  position: fixed;
  color: #ffffff;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  -webkit-box-shadow: 0 2px 28px 0 #ffffff(0, 0, 0, 0.06);
          box-shadow: 0 2px 28px 0 #ffffff(0, 0, 0, 0.06);
  background-color: #7219c6 !important;
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
          animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  padding-top: 0px;
  padding-bottom: 0px;
  opacity: 0.9;
}


.navbar.navbar-style-three {
  position: relative;
  margin-top: -60px;
}

.navbar.navbar-style-three.is-sticky {
  margin-top: 0;
  position: fixed;
}

.navbar.transparent-navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 9999;
  padding-top: 20px;
}
.logo img{
  max-width: 80%;
}
.navbar.transparent-navbar.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  background-color: #ffffff !important;
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
          animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-light .navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-light .navbar-nav {
  margin-left: auto;
}

.navbar-light .navbar-nav .nav-item {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-light .navbar-nav .nav-item .nav-link {
  color: #000000;
  text-transform: uppercase;
  position: relative;
  font-size: 15px;
  font-weight: 600;
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-light .navbar-nav .nav-item .nav-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 1.5px;
  background: #000000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover::before, .navbar-light .navbar-nav .nav-item .nav-link.active::before {
  width: 100%;
  right: auto;
  left: 0;
  opacity: 1;
  visibility: visible;
}

.navbar-light .navbar-nav .nav-item:last-child {
  padding-right: 0;
}

.navbar-light .navbar-nav .nav-item:first-child {
  padding-left: 0;
}

.navbar-light.bg-dark-color .navbar-brand img:nth-child(2) {
  display: none;
}

.navbar-light.bg-dark-color .navbar-nav .nav-item .nav-link {
  color: #FFE0FD;
}

.navbar-light.bg-dark-color .navbar-nav .nav-item .nav-link::before {
  background: #FFE0FD;
}

.navbar-light.bg-dark-color.is-sticky .navbar-nav .nav-item .nav-link {
  color: #FFE0FD;
}

.navbar-light.bg-dark-color.is-sticky .navbar-nav .nav-item .nav-link::before {
  background: #FFE0FD;
}

.navbar-light.bg-dark-color.is-sticky .navbar-brand img:nth-child(1) {
  display: none;
}

.navbar-light.bg-dark-color.is-sticky .navbar-brand img:nth-child(2) {
  display: block;
}

.navbar-light.transparent-navbar .navbar-brand img:nth-child(2) {
  display: none;
}

.navbar-light.transparent-navbar .navbar-nav .nav-item .nav-link {
  color: #ffffff;
}

.navbar-light.transparent-navbar .navbar-nav .nav-item .nav-link::before {
  background: #ffffff;
}

.navbar-light.transparent-navbar.is-sticky .navbar-nav .nav-item .nav-link {
  color: #000000;
}

.navbar-light.transparent-navbar.is-sticky .navbar-nav .nav-item .nav-link::before {
  background: #000000;
}

.navbar-light.transparent-navbar.is-sticky .navbar-brand img:nth-child(1) {
  display: none;
}

.navbar-light.transparent-navbar.is-sticky .navbar-brand img:nth-child(2) {
  display: block;
}

/*================================================
Main Banner Area CSS
=================================================*/
.home-area {
  overflow: hidden;
}

/*.main-banner {
  height: 100vh;
}*/

.particles-js-banner {
  position: relative;
}

.particles-js-banner .main-banner-content {
  position: relative;
  z-index: 2;
}

.particles-js-banner .banner-image {
  position: relative;
  z-index: 2;
}

#particles-js {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.main-banner-content span {
  display: block;
  color: #000000;
  font-family: "Poppins", sans-serif;
}

.main-banner-content .title {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: -10px;
  padding-top: 55px;
  padding-bottom: 55px;
  padding-right: 150px;
}

.main-banner-content .title h5 {
  margin-bottom: 0;
  color: #ffffff;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  /*-webkit-transform: rotate(-6deg);
          transform: rotate(-6deg);*/
  font-size: 22px;
  font-family: "Playfair Display", serif;
}

.main-banner-content .title h1 {
  margin-bottom: 0;
  color: #FFE0FD;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  /*-webkit-transform: rotate(-6deg);
          transform: rotate(-6deg);*/
  font-size: 52px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
}

.main-banner-content .title::before {
  position: absolute;
  left: -110px;
  top: 0;
  content: '';
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url(../img/paper-shape.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-banner-content p {
  line-height : 40px;
  font-family: "Poppins", sans-serif;
  display: block;
}

.main-banner-content.white-color span {
  color: #ffffff;
}

.main-banner-content.white-color p {
  color: #ffffff;
}

.main-banner-image {
  position: relative;
  z-index: 1;
  text-align: center;
}

.main-banner-image::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: -15px;
  border: 10px solid #eeeeee;
  width: 106%;
  height: 80%;
  z-index: -1;
}

.background-image-banner {
  height: 100vh;
  position: relative;
  z-index: 1;
  background-color: #000000;
  background-image: url(../img/main-banner1.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.background-image-banner::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: .78;
  left: 0;
  bottom: 0;
}

.hero-content {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.hero-content img {
  border-radius: 50%;
  margin-bottom: 25px;
  width: 200px;
  height: 200px;
  border: 5px solid #ffffff;
}

.hero-content span {
  display: block;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
}

.hero-content .title {
  margin-top: 12px;
  margin-bottom: 17px;
}

.hero-content .title h1 {
  margin-bottom: 0;
  color: #ffffff;
  font-size: 45px;
  font-weight: 500;
  font-family: "Playfair Display", serif;
}

.hero-content .title h1 a, .hero-content .title h1 span {
  display: inline-block;
  color: #ffde29;
  font-size: 45px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
}

.hero-content p {
  opacity: .90;
  font-family: "Poppins", sans-serif;
  display: block;
  color: #ffffff;
}
/*================================================
Contact Area CSS
=================================================*/
.contact-info {
    padding-right: 15px;
  }
  
  .contact-info h3 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
  }
  
  .contact-info h3:not(:first-child) {
    margin-top: 30px;
  }
  
  .contact-info ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  
  .contact-info .contact-info-list li {
    margin-bottom: 10px;
    color: #3b3b3b;
    font-size: 16px;
    font-weight: 600;
  }
  
  .contact-info .contact-info-list li span {
    font-weight: 700;
    color: #000000;
    margin-right: 8px;
  }
  
  .contact-info .contact-info-list li a {
    display: inline-block;
    color: #3b3b3b;
  }
  
  .contact-info .contact-info-list li a:hover {
    color: #000000;
  }
  
  .contact-info .contact-info-list li:last-child {
    margin-bottom: 0;
  }
  
  .contact-info .social li {
    display: inline-block;
  }
  
  .contact-info .social li a {
    width: 70px;
    height: 70px;
    /*background-color: #343434;*/
    color: #ffffff;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
  }
  
  .contact-info .social li a:hover {
    color: #ffffff;
    background-color: #000000;
  }
  
  .contact-info.white-color h3 {
    color: #ffffff;
  }
  
  .contact-info.white-color .contact-info-list li {
    color: #ffffff;
  }
  
  .contact-info.white-color .contact-info-list li span {
    color: #ffffff;
  }
  
  .contact-info.white-color .contact-info-list li a {
    color: #ffffff;
  }
  
  .contact-info.white-color .social li a:hover {
    color: #ffffff;
    background-color: pink;
  }
  
  #contactForm .form-group {
    margin-bottom: 25px;
  }
  
  #contactForm .btn-primary {
    background-color: #000000;
    color: #ffffff;
  }
  
  #contactForm .btn-primary:hover {
    color: #000000;
    background-color: #ffffff;
  }
  
  #contactForm .btn-primary.main-color-btn {
    color: #000000;
    background-color: #ffde29;
  }
  
  #contactForm .btn-primary.main-color-btn:hover, #contactForm .btn-primary.main-color-btn:focus {
    background-color: #000000;
    color: #ffffff;
  }
  
  #contactForm .with-errors ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 5px;
  }
  
  #contactForm .with-errors ul li {
    color: red;
    font-size: 14px;
  }
  
  #contactForm .text-danger, #contactForm .text-success {
    margin-bottom: 0;
    margin-top: 15px;
    font-size: 24px;
    font-weight: 700;
  }
  
  #contactForm #msgSubmit {
    margin-bottom: 0;
  }
  
  #contactForm.white-color .form-control {
    border-color: #5d5d5d;
    color: #ffffff;
  }
  
  #contactForm.white-color .form-control::-webkit-input-placeholder {
    color: #ececec;
  }
  
  #contactForm.white-color .form-control:-ms-input-placeholder {
    color: #ececec;
  }
  
  #contactForm.white-color .form-control::-ms-input-placeholder {
    color: #ececec;
  }
  
  #contactForm.white-color .form-control::placeholder {
    color: #ececec;
  }
  
  #contactForm.white-color .btn-primary {
    color: #7219c6;
    background-color: #FFE0FD;
  }
  
  #contactForm.white-color .btn-primary:hover, #contactForm.white-color .btn-primary:focus {
    background-color: #FFE0FD;
    color: #7219c6;
  }

  /* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #7219c6;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: pink;
}

/* Style the accordion panel. Note: hidden by default 
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}*/   

.panel {
  padding: 0 18px;
  background-color: #7219c6;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/*videos de youtube*/
.video-container {
    position: relative;
    padding-bottom: 50%;
    padding-top: 20px; height: 0; overflow: hidden;
    border-radius: 20px;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#pluma {
  list-style-image: src="img/Bitacora_Logo_negro-removebg-preview.png" alt="image";
}

/* Angeles viajeros*/
.carousel-item {
  background-color: #7219c6;
}

/*mapa*/
.mapa-container {
  position: relative;
  padding-bottom: 50%;
  padding-top: 20px; height: 0; overflow: hidden;
  border-radius: 500px;
}

.mapa-container iframe,
.mapa-container object,
.mapa-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: -55px;
  margin-bottom: 55px
}

#myBtn {
  width: 100px;
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #7219c6; /* Set a background color */
  color: #FFE0FD; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 2px; /* Some padding */
  border-radius: 5px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  width: auto;
}

#myBtn:hover {
  background-color: #7219c6; /* Add a dark-grey background on hover */
}

/*================================================
Services Area CSS
=================================================*/
.services-area {
  padding-bottom: 90px;
}

.services-area.bg-black-color .section-title h2 {
  color: #ffffff;
}

.services-area.bg-black-color .section-title .back-text {
  opacity: .06;
  color: #ffffff;
}

.services-area.bg-black-color .section-title::before {
  background: #9975BB;
}

.single-services-box {
  margin-bottom: 30px;
  position: relative;
  padding: 23px;
  background: #000000;
}

.single-services-box .icon {
  display: inline-block;
  width: 75px;
  height: 72px;
  background: #9975BB;
  position: absolute;
  top: 0;
  left: 23px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #000000;
  text-align: center;
}

.single-services-box .icon i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
}

.single-services-box .icon i::before {
  font-size: 40px;
}

.single-services-box .icon i.flaticon-camera {
  top: 90%;
  -webkit-transform: translateY(-90%);
          transform: translateY(-90%);
}

.single-services-box h3 {
  color: #ffffff;
  margin-bottom: 0;
  padding-left: 93px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 24px;
  font-weight: 700;
}

.single-services-box p {
  color: #eeeeee;
  margin-top: 45px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-services-box:hover .icon {
  color: #000000;
  background: #ffffff;
}

.single-services-box.bg-main-color {
  background: #ffde29;
}

.single-services-box.bg-main-color .icon {
  background: #000000;
  color: #ffde29;
}

.single-services-box.bg-main-color h3 {
  color: #000000;
}

.single-services-box.bg-main-color p {
  color: #000000;
}

.single-services-box.bg-main-color:hover .icon {
  color: #000000;
  background: #ffffff;
}

.single-services-box.bg-white-color {
  background: #ffffff;
}

.single-services-box.bg-white-color .icon {
  background: #000000;
  color: #ffde29;
}

.single-services-box.bg-white-color h3 {
  color: #000000;
}

.single-services-box.bg-white-color p {
  color: #000000;
}

.single-services-box.bg-white-color:hover .icon {
  color: #000000;
  background: #ffde29;
}

.single-services-box.bg-gray-dark {
  background-color: #111111;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
}

.single-services-box.bg-gray-dark:hover {
  background-color: #ffde29;
}

.single-services-box.bg-gray-dark:hover h3 {
  color: #000000;
}

.single-services-box.bg-gray-dark:hover p {
  color: #000000;
}

.single-services-box.bg-dark-color {
  background-color: #7219c6;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
}

.single-services-box.bg-dark-color:hover {
  background-color: #ffe1fd;
}

.single-services-box.bg-dark-color:hover h3 {
  color: #000000;
}

.single-services-box.bg-dark-color:hover p {
  color: #313131;
}

.services-box {
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 30px;
  padding: 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #ffffff;
}

.services-box .icon {
  position: relative;
  z-index: 1;
  margin-bottom: 15px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border: 1px solid transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.services-box .icon i::before {
  font-size: 30px;
}

.services-box .icon::before {
  content: '';
  position: absolute;
  left: 1px;
  width: 100%;
  height: 100%;
  top: -1px;
  border: 4px solid #e8e7e7;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.services-box .icon::after {
  content: '';
  width: 100%;
  height: 100%;
  left: -3px;
  position: absolute;
  top: -3px;
  border: 2px solid #e8e7e7;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.services-box h3 {
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 700;
}

.services-box p {
  color: #524c4c;
}

.services-box:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.services-box:hover .icon::before {
  border-color: #9975BB;
}

.services-box:hover .icon::after {
  border-color: #9975BB;
}

/*================================================
Portfolio Area CSS
=================================================*/
.shorting-menu {
  text-align: center;
  margin-bottom: 20px;
}

.shorting-menu .filter {
  border: 1px solid #000000;
  background: transparent;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 15px;
  margin: 0 2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: 0;
}

.shorting-menu .filter i {
  margin-right: 2px;
}

.shorting-menu .filter i::before {
  font-size: 13px;
}

.shorting-menu .filter.active, .shorting-menu .filter:hover {
  background-color: #000000;
  color: #ffffff;
}

.shorting-menu.white-color .filter {
  background-color: #111111;
  border-color: #111111;
  color: #ffffff;
}

.shorting-menu.white-color .filter.active, .shorting-menu.white-color .filter:hover {
  background-color: #ffffff;
  color: #000000;
}

.shorting .mix {
  display: none;
}

.single-portfolio-box {
  position: relative;
  margin-top: 30px;
  overflow: hidden;
  border-radius: 10%
}

.single-portfolio-box img {
  -webkit-transition: .9s;
  transition: .9s;
}

.single-portfolio-box .popup-btn {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: 2;
}

.single-portfolio-box .portfolio-content {
  position: absolute;
  left: 0;
  background-color: #000000;
  bottom: 20px;
  padding: 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 3;
}

.single-portfolio-box .portfolio-content h3 {
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 700;
}

.single-portfolio-box .portfolio-content h3 a {
  color: #ffde29;
}

.single-portfolio-box .portfolio-content span {
  display: block;
  color: #ffffff;
  margin-top: 8px;
  font-size: 15px;
  font-weight: 700;
}

.single-portfolio-box:hover img {
  -webkit-transform: rotate(15deg) scale(1.4);
          transform: rotate(15deg) scale(1.4);
}

.single-portfolio-box:hover .portfolio-content {
  bottom: 30px;
  opacity: 1;
  visibility: visible;
}

/*================================================
LEARNING CSS
=================================================*/

.learning {
  padding-top: 70px;
}

.jumbotron {
  background-color:#FFE0FD;
}

.learning img {
  border-radius: unset;
}

.learning h1 {
  color: #7219c6;
}

.list-group-item {
  position: relative;
  display: block;
  padding: .50rem 1.25rem;
  background-color: #FFE0FD;
  color: #7219c6;
  border: 1px solid rgba(0,0,0,.125);
  font-size: 1.00rem;
}

.list-group-item.active {
  font-size: 1.20rem;
  z-index: 2;
  color: #fff;
  background-color: #7219c6;
  border-color: #7219c6;
}

.lead {
  font-size: 1.00rem;
  font-weight: 300;
  color:#7219c6;
}

.mercadopago-button {
  padding: 0 1.7142857142857142em;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 0.875em;
  line-height: 2.7142857142857144;
  background: #7219c6 !important;
  border-radius: 0.2857142857142857em;
  color: #FFE0FD !important;
  cursor: pointer;
  border: 0;
}

.badge-secondary {
  color: #FFE0FD;
  background-color: #7219c6;
  margin-bottom: 0;
}

.learning{ 
  margin: 0px; 
  padding: 20px 2% 0px 2% ; 
  background: #7219c6;
}

.learning h4{
  color: #7219c6;
}

.learning p{
  margin-left:auto;
  margin-right:auto;
}
.botonalas p{
  margin-left:auto;
  margin-right:auto;
  width: 38%;
}
.learning .lead img{
  max-width: 10%;
}
.learning .lead .img{
  max-width: 10%;
  transform: scaleX(-1);

}

/*--------------------------
------------------------*/

.btn-primary1 {
  color: #FFE0FD;
  background-color: transparent;
  padding: 0px 0px 0px 0px;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #7219c6;
  color: #FFE0FD;
}

svg:not(:disabled):not(.disabled).active, svg:not(:disabled):not(.disabled):active, .show > svg.dropdown-toggle {
  border: transparent;
}

.navbar-nav .dropdown-menu {
  position: static;
  float: none;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #7219c6;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #9975BB;
  text-decoration: none;
  background-color: #f8f9fa;
}
.alert{
  font-weight: bolder;
  background-color: #FFE0FD;
  color: #7219c6;
  text-align: center;
}
.alert h4{
  font-weight: 700;
  font-size: 60px;
}

.alert p{
  font-size: large;
  line-height: 40px;
}
.alert hr{
  background-color: #7219c6;
  border-top-color: #7219c6;
}

/*================================================
talleres CSS
=================================================*/

.talleres {
  padding-top: 70px;
}
.talleres img {
  border-radius: unset;
}

.talleres h1 {
  color: #7219c6;
}
.talleres{ 
  margin: 0px; 
  padding: 20px 2% 0px 2% ; 
  background: #7219c6;
}

.talleres h4{
  color: #7219c6;
}

.talleres p{
  margin-left:auto;
  margin-right:auto;
}
.botonalas p{
  margin-left:auto;
  margin-right:auto;
  width: 38%;
}
.talleres .lead img{
  max-width: 10%;
}
.talleres .lead .img{
  max-width: 10%;
  transform: scaleX(-1);

}

/*================================================
numerologico
=================================================*/

#numerologico1 p{
    color: #FFE0FD;
}
#numerologico {
   background-color: #FFE0FD;
   border-radius: 10px;
   padding-top: 20px;
}
#numerologico img{
    border-radius: 10px;
}
#numerologico a{
    display: inline;
}
#numerologico #izquierda #parr{
    line-height: 25px;
}
#numerologico #izquierda p{
    line-height: 40px;
    padding-bottom: 10px;
}
