<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
		<title>Acerca de Mí (@sevoz_bymagalibaldovino)</title>
		<meta name="description" content="Te invito a conocer más sobre estos maravillosos seres de Luz." />
		<meta name="author" content="Matias Slimmens" />
		<meta http-equiv="cache-control" content="no-cache" />
		<link rel="shortcut icon" href="/img/seVoz.png" />
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
			integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="/css/responsive.css" />
		<link rel="stylesheet" href="/css/ig.css" />
	</head>
	<body>
		<div class="container">
			<div class="ocultar-arriba"></div>
			<blockquote
				class="instagram-media"
				data-instgrm-permalink="https://www.instagram.com/reel/CwBivVrtjlH/?utm_source=ig_embed&amp;utm_campaign=loading"
				data-instgrm-version="14"
				style="background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:200px; min-width:100px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"
			>
				<div style="padding:16px;">
					<a
						href="https://www.instagram.com/reel/CwBivVrtjlH/?utm_source=ig_embed&amp;utm_campaign=loading"
						style="background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;"
						target="_blank"
					>
						Ver esta publicación en Instagram
					</a>
				</div>
			</blockquote>
		</div>
		<script async src="//www.instagram.com/embed.js"></script>
	</body>
</html>
